<div id="up">
  <img id="left_arrow" src="https://panel.sendmsg.co.il/userfiles/site165/images/%D7%97%D7%A6%D7%99%D7%9D/%D7%97%D7%A5%20%D7%9B%D7%97%D7%95%D7%9C%20%D7%A9%D7%9E%D7%90%D7%9C%D7%94.jpg">
  <img id="main_pic" [src]="selectedSrc">
  <img id="right_arrow" src="https://panel.sendmsg.co.il/userfiles/site165/images/%D7%97%D7%A6%D7%99%D7%9D/%D7%97%D7%A5%20%D7%9B%D7%97%D7%95%D7%9C%20%D7%99%D7%9E%D7%99%D7%A0%D7%94.png">
</div>


<div id="down">
  <div *ngFor="let src of sources">
      <app-picture [mySrc]="src" (click2select)="setMainPic($event)"></app-picture>
  </div>
</div>
